.oursponsors_sponsor_cancel,
.oursponsors_sponsor_delete {
	float: right;
}

.oursponsors_sponsor_level_cancel,
.oursponsors_sponsor_level_delete {
	float: right;
}

.oursponsors_sponsor_delete,
.oursponsors_sponsor_level_delete {
	margin-right: 2em;
}

.oursponsors_table {
	margin: 15px;
	width: calc(100% - 15px);
}

.oursponsors_row {
	cursor: pointer;
}

.oursponsors_image_preview {
	max-height: 180px;
	max-width: 100%;
}

.clearfix {
	clear: both;
}
